.fontTitle {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
}

.fontDisplay {
  font-family: 'Martian Mono', monospace;
  font-weight: 300;
}

.blueBack {
  background-color: #0A263D !important;
}

.coyoteBack {
  background-color: #8C6E39 !important;
}

.goldBack {
  background-color: #FFD300 !important;
}

.blueText {
  color: #0A263D !important;
}

.coyoteText {
  color: #8C6E39 !important;
}

.goldText {
  color: #FFD300 !important;
}

