@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Quicksand:wght@300..700&display=swap');

.fontTitle {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

* {
  font-family: 'Poiret One', sans-serif;
  font-weight: 300;
}

.blueBack {
  background-color: #0A263D !important;
}

.coyoteBack {
  background-color: #8C6E39 !important;
}

.goldBack {
  background-color: #FFD300 !important;
}

.blueText {
  color: #0A263D !important;
}

.coyoteText {
  color: #8C6E39 !important;
}

.goldText {
  color: #FFD300 !important;
}

